{% extends "layout.twig" %}


{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}

{% block title %}
	<title>Accueil Administration - Blog professionnel</title>
{% endblock %}
{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/admin_homepage.css">
{% endblock %}

{% block content %}
	<header>
		<nav class="menu">
			<a href="?selection=blog">
				<i class="fa-solid fa-newspaper"></i>
			</a>
			<ul>
				<li>
					<a href="?selection=add_article">
						<i class="fa-solid fa-plus"></i>
					</a>
				</li>
				{% if session is defined and session.type_user == "admin" %}
					<li>
						<a href="action=log_out">
							<i class="fa-solid fa-right-from-bracket"></i>
						</a>
					</li>
				{% endif %}

			</ul>
		</nav>
	</header>


	<div class="container-fluid" id="homepage">

		<div class="container-fluid" id="banner">
			<img class="banner-img" src="../public/assets/images/admin_homepage.jpg" alt="admin homepage banner">
		</div>

		<h1 id="h1">Bienvenue,  Administrateur</h1>


		<div class="container-fluid" id="last-comments">
			<h2 class="h2" id="h2">Derniers commentaires publiés récemments
				<span id="total-comments">{# Le nombre total de commentaires à valider#}</span>
			</h2>

			<div class="row">

				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 comments">
					<a class="comment" href="?selection=view_article">
						<h3 class="h3">Les bases de php</h3>
						<div class="author-comment">
							<h4>Jane , le 13 juin 2023</h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas tempore explicabo iusto quam molestias est corporis, natus nulla deleniti porro tenetur nesciunt excepturi commodi animi asperiores? Voluptatum ex odio cumque.</p>
						</div>
					</a>
				</div>


				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 comments">
					<a class="comment" href="#">
						<h3 class="h3">Les bonnes pratiques en PHP</h3>
						<div class="author-comment">
							<h4>Lovelace, le 19 juin 2023</h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas tempore explicabo iusto quam molestias est corporis, natus nulla deleniti porro tenetur nesciunt excepturi commodi animi asperiores? Voluptatum ex odio cumque.</p>
						</div>
					</a>
				</div>


				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 comments">
					<a class="comment" href="#">
						<h3 class="h3">Les frameworks PHP populaires</h3>
						<div class="author-comment">
							<h4>CyranoB , le 19 juin 2023</h4>
							<p>
								C'est un roc !... c'est un pic... c'est un cap !
																																																								Que dis-je, c'est un cap ?... C'est une péninsule ! »</p>
						</div>
					</a>
				</div>
			</div>
		</div>


		<div class="container-fluid" id="last-articles">
			<h2 class="h2" id="last-articles-title">Derniers articles publiés récemments</h2>
			<div class="row mt-5">
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 articles">
					<article>
						<h3 class="article-title">Les bases de PHP</h3>
						<p class="short-content">PHP, acronyme de Hypertext Preprocessor, est un langage de script largement utilisé pour le développement web. Avec PHP, vous pouvez créer des pages web interactives et dynamiques en générant du contenu HTML en temps réel...
						</p>
						<div class="commands">
							<button class="btn btn-warning">
								<a class="commands-admin" href="#">Modifier</a>
							</button>
							<button class="btn btn-dark">
								<a class="commands-admin" href="#">Supprimer</a>
							</button>
						</div>
					</article>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 articles">
					<article>
						<h3 class="article-title">Les bonnes pratiques en PHP</h3>
						<p class="short-content">Lorsque vous développez en PHP, il est important de suivre les bonnes pratiques pour garantir la qualité de votre code. En adoptant des conventions de codage cohérentes, en utilisant des noms de variables significatifs et en organisant votre code de manière structurée, vous facilitez la maintenance et la collaboration sur vos projets PHP...
						</p>
						<div class="commands">
							<button class="btn btn-warning">
								<a class="commands-admin" href="#">Modifier</a>
							</button>
							<button class="btn btn-dark">
								<a class="commands-admin" href="#">Supprimer</a>
							</button>
						</div>
					</article>
				</div>

				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 articles">
					<article>
						<h3 class="article-title">Les frameworks PHP populaires</h3>
						<p class="short-content">Les frameworks PHP sont des outils puissants qui accélèrent le processus de développement d'applications web en fournissant des structures et des fonctionnalités prêtes à l'emploi..
						</p>
						<div class="commands">
							<button class="btn btn-warning">
								<a class="commands-admin" href="#">Modifier</a>
							</button>
							<form action="#">
								<button class="btn btn-dark commands-admin" type="submit" name="submit" id="submit">Supprimer</button>
							</form>
						</div>
					</article>
				</div>

			</div>
		</div>

	</div>
	{% if session is defined and session.type_user == "admin" %}
		{% include "admin_footer.twig" %}
	{% else %}

		{% include "footer.twig" %}

	{% endif %}
{% endblock %}

