{% extends "layout.twig" %}

{% block icon_img %}
	<link rel="icon" type="image/png" href="../public/favicon.ico"/>
{% endblock %}

{% block title %}
	<title>Connexion - Blog professionnel</title>
{% endblock %}

{% block css_page %}
	<link rel="stylesheet" href="../public/assets/css/sign_in.css">
{% endblock %}


{% block content %}

	{# HEADER #}
	<header>
		<nav class="menu">
			<a href="?selection=homepage"><img class="logo" src="../public/assets/images/logo.png" height="60" alt=""></a>
			<ul>
				<li><a href="?selection=sign_up"><i class="fa-solid fa-user-plus"></i></a></li>
			</ul>
		</nav>
	</header>

	{# FORM CONTAINER  #}
	<div class="container-fluid  mb-5 form " id="form_container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" id="main-title-box">
				<h1 class=" text-center mb-5 " id="h1">Connexion</h1>
				<p id="requirement-field">Tous les champs * sont requis</p>
			</div>
		</div>


		<!-- FORM -->
		<div class="row">


			<form
				id="form" action="?action=sign_in" method="post">
				<!-- MAIL -->
				<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="mb-3 mail-box">
						<label for="mail" class="form-label">Adresse email *</label>
						<input type="email" class="form-control" name="mail" id="mail" placeholder="johndoe@example.fr">

						<p class="text-danger error-mail">{{message.email_error is defined ? message.email_error : ''}}</p>
						<p class="text-danger error-mail">{{email_exception is defined ? email_exception : ''}}</p>
					</div>


					<div class="mb-3 password-box">
						<label for="password" class="form-label">Mot de passe *</label>
						<input type="password" class="form-control" name="password" id="password">

						<p class="text-danger error-password">{{message.password_error is defined ? message.password_error : ''}}</p>
						<p class="text-danger error-password">{{password_exception is defined ? password_exception : ''}}</p>
					</div>


					<input type="submit" class="btn text-white " name="submit" id="submit" value="Envoyer">


				</div>

			</div>
		</form>
	</div>
	{% include "footer.twig" %}
{% endblock %}

